<section>
    
    <h3 class="section-head">Overview</h3>
    <div class="analytics">

    <div class="analytic">
      <div class="analytic-icon"> <i class="fa-solid fa-server"></i></div>
      <div class="analytic-info">
        <h4>Servers</h4>
        <h1><%= userServersCount.count %>/<%= packageserver + userresources.row.servers %></h1>
      </div>
    </div> 
    <div class="analytic">
      <div class="analytic-icon"> <i class="fa-solid fa-microchip"></i></div>
      <div class="analytic-info">
        <h4>CPU</h4>
        <h1><%= userServersCount.totalCPU  %>/<%= packagecpu + userresources.row.cpu %></h1>
      </div>
    </div>
      <div class="analytic">
        <div class="analytic-icon"> <i class="fa-solid fa-memory"></i></div>
        <div class="analytic-info">
          <h4>Ram</h4>
          <h1><%= userServersCount.totalRAM  %>MB/<%= packageram + userresources.row.ram %>MB</h1>
        </div>
      </div>
      <div class="analytic">
        <div class="analytic-icon"><i class="fa-solid fa-floppy-disk"></i></div>
        <div class="analytic-info">
          <h4>Disc</h4>
          <h1><%= userServersCount.totalDisk  %>MB/<%= packagedisk + userresources.row.disk %>MB</h1>
        </div>
      </div>
      <div class="analytic">
        <div class="analytic-icon"><i class="fa-solid fa-route"></i></div>
        <div class="analytic-info">
          <h4>Ports</h4>
          <h1><%= userServersCount.totalPorts %>/<%= packageport + userresources.row.ports %></h1>
        </div>
      </div>
      <div class="analytic">
        <div class="analytic-icon"><i class="fa-solid fa-database"></i></div>
        <div class="analytic-info">
          <h4>Database</h4>
          <h1><%= userServersCount.totalDatabase %>/<%= packagedatabase + userresources.row.database %></h1>
        </div>
      </div>
      <div class="analytic">
        <div class="analytic-icon"><i class="fa-solid fa-box-open"></i></div>
        <div class="analytic-info">
          <h4>Backups</h4>
          <h1><%= userServersCount.totalBackup %>/<%= packagebackup + userresources.row.backup %></h1>
        </div>
      </div>
    </div>
  </section>