<!doctype html>
<html class="no-js" lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= AppName %></title>
    <meta name="description" content="Minecraft Hosting, Free and  paid ,High Performance">
  <meta name="viewport" content="width=device-width, initial-scale=12">
    <link rel="apple-touch-icon" href="<%= AppLogo %>">
    <link rel="shortcut icon" href="<%= AppLogo %>">
    <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="dashboard"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li>
                        <a href="store"><i class="menu-icon fa fa-shopping-cart"></i>Buy Resources </a>
                    </li>
                    <li>
                        <a href="afk"><i class="menu-icon fa fa-coffee"></i>Afk Page </a>
                    </li>
                    <li>
                        <a href="youtube"><i class="menu-icon fa fa-caret-square-o-right"></i>Watch and Earn </a>
                    </li>
                    <li>
                        <a href="manage"><i class="menu-icon fa fa-tachometer"></i>manage Servers </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-money"></i>Earn Coins</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-group"></i><a href="page-login.html">J4r</a></li>
                            <li><i class="menu-icon fa fa-unlink"></i><a href="page-register.html">linkvertise</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="settings"><i class="menu-icon fa fa-gears"></i>Settings </a>
                    </li>
              <!--      <% if (userIdentifier.admin == true) { %>
                    <li>
                        <a href="admin"><i class="menu-icon fa fa-key"></i>Admin </a>
                    </li>
                    <% } %>----->
                    <li>
                        <a href="logout"><i class="menu-icon fa fa-sign-in"></i>Logout </a>
                    </li>

                </ul>
            </div>
        </nav>
    </aside>
                                                <!-- /#left-panel -->
                                                <!-- Sidebar Panel -->
    <div id="right-panel" class="right-panel">
                                                <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class=""  href="./">
                        <img width="30px" src="<%= AppLogo %>" alt="<%= AppName %>"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
                                                <!-- Sidebar Panel -->
                                                <!-- Nav Panel-->
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">

                     
                

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">0</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 0 Notification</p>
                                <!----
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Test Notification</p>
                                </a>
                       -->
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-coins" style="color: gold"></i>
                                <%= coins %>
                                <div class="dropdown-menu" aria-labelledby="message">
                                <!---
                                <p class="red">You have 0 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                        -->
                            </div>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle"src="https://i.ibb.co/71PzpJP/68747470733a2f2f63646e2e707465726f64616374796c2e696f2f6c6f676f732f6e65772f707465726f64616374796c5f6c.png" alt="<%= user.username %>">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/settings"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href="/logout"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
            const switchInput = document.querySelector(".switch input");
          
            switchInput.addEventListener("change", function() {
              const stylesheet = this.checked ? "css/style-d.css" : "css/style.css";
              updateStylesheet(stylesheet);
              localStorage.setItem("preferredStylesheet", stylesheet);
            });
          
            function updateStylesheet(stylesheet) {
              const links = document.querySelectorAll('link[rel="stylesheet"]');
              links.forEach(link => {
                if (link.href.includes("style.css") || link.href.includes("style-d.css")) {
                  link.onload = function() {
                    // Once the stylesheet is loaded, display the content
                    document.body.style.display = "block";
                  };
                  link.href = stylesheet;
                }
              });
            }
          
            // Check local storage for preferred stylesheet
            const preferredStylesheet = localStorage.getItem("preferredStylesheet");
            if (preferredStylesheet) {
              updateStylesheet(preferredStylesheet);
              // Check the checkbox if dark mode preference is stored
              if (preferredStylesheet === "css/style-d.css") {
                switchInput.checked = true;
              }
            } else {
              // If no preference is found in local storage, check if the browser is in dark mode
              const isDarkMode = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
              const defaultStylesheet = isDarkMode ? "css/style-d.css" : "css/style.css";
              updateStylesheet(defaultStylesheet);
              localStorage.setItem("preferredStylesheet", defaultStylesheet);
              // Check the checkbox if default stylesheet is dark mode
              if (defaultStylesheet === "css/style-d.css") {
                switchInput.checked = true;
              }
            }
          });
        
          
          </script>
        