<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-1">
                    <i class="pe-7s-joy"></i>
                </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-text"><%= userServersCount.count %>/<%= packageserver + userresources.row.servers %></div>
                        <div class="stat-heading">Servers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-2">
                    <i class="fa-solid fa-microchip"></i>                                  </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-text"><%= userServersCount.totalCPU  %>/<%= packagecpu + userresources.row.cpu %></div>
                        <div class="stat-heading">CPU</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-3">
                    <i class="fa-solid fa-memory"></i>
                </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-text"><%= userServersCount.totalRAM  %>MB/<%= packageram + userresources.row.ram %>MB</div>
                        <div class="stat-heading">Ram</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-4">
                    <i class="pe-7s-disk"></i>
                </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-text"><%= userServersCount.totalDisk  %>MB/<%= packagedisk + userresources.row.disk %>MB</div>
                        <div class="stat-heading">Disk</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>