<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create or Update Server</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="css/style-d.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <%- include('./includes/sidebar') %>

<div class="main-content">

  <%- include('./includes/header') %>

  <main>
    <section class="container">
      <form action="/createserver" method="POST" class="form" id="server-form">
        <input type="hidden" name="id" id="server-id">
        <div class="form-group">
          <label for="locations">Select Location:</label>
          <select name="locations" id="locations" class="form-control">
            <% Object.keys(settings.locations).forEach(locationKey => { %>
            <option value="<%= locationKey %>"><%= settings.locations[locationKey].name %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="egg">Select Egg:</label>
          <select name="egg" id="egg" class="form-control">
            <% Object.keys(settings.eggs).forEach(eggKey => { %>
            <option value="<%= eggKey %>"><%= settings.eggs[eggKey].display %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group egg-fields">
          <label for="name">Server Name:</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Name">
          <label for="cpu">Server CPU:</label>
          <input type="number" name="cpu" id="cpu" class="form-control" placeholder="CPU">
          <label for="ram">Server RAM:</label>
          <input type="number" name="ram" id="ram" class="form-control" placeholder="RAM">
          <label for="disk">Server Disk:</label>
          <input type="number" name="disk" id="disk" class="form-control" placeholder="Disk">
          <label for="port">Server Port:</label>
          <input type="number" name="port" id="port" class="form-control" placeholder="Port">
          <label for="database">Server databases:</label>
          <input type="number" name="database" id="database" class="form-control" placeholder="Database">
          <label for="backup">Server backups:</label>
          <input type="number" name="backup" id="backup" class="form-control" placeholder="Backup">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </section>

    <section class="container">
      <h2>User Servers</h2>
      <div class="server-list">
        <% userServers.forEach(server => { %>
        <div class="server-card">
          <p>Server Name: <%= server.name %></p>
          <p>Description: <%= server.description %></p>
          <p>Ram: <%= server.ram %></p>
          <p>Disk: <%= server.disk %></p>
          <p>Cpu: <%= server.cpu %></p>
          <p>Ports: <%= server.ports %></p>
          <p>Databases: <%= server.database %></p>
          <p>Status: <%= server.suspended ? 'Suspended' : 'Active' %></p>
          <button onclick="window.location.href='./update?id=<%= server.identifier %>'">Update</button>
          <button onclick="window.location.href='./delete?id=<%= server.id %>'">Delete</button>
        </div>
        <% }); %>
      </div>
    </section>
  </main>

  <style>
    .server-card {
      background-color: #f0f0f0;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .server-card h3 {
      margin-bottom: 10px;
      color: #333;
    }

    .server-card p {
      margin-bottom: 5px;
      color: #666;
    }
  </style>

</div>

<%- include('./includes/footer') %>




</body>
</html>
