
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Create Server</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./includes/sidebar') %>

<div class="main-content">

  <%- include('./includes/header') %>

  <main>
    <section>
        <form action="/createserver" method="POST">
          <div>
            <label for="locations">Select location:</label>
            <select name="locations" id="locations">
              <% Object.keys(settings.locations).forEach(locationKey => { %>
                <option value="<%= locationKey %>"><%= settings.locations[locationKey].name %></option>
              <% }); %>
            </select>
            
              <label for="egg">Select Egg:</label>

            <select name="egg" id="egg">
              
           
              <% Object.keys(settings.eggs).forEach(eggKey => { %>
                <option value="<%= eggKey %>"><%= settings.eggs[eggKey].display %></option>
                <% }); %>
              </select>
                <div class="egg-fields">
                  <input type="text" name="name">
                  <input type="number" name="cpu">
                  <input type="number" name="ram">
                  <input type="number" name="disk">
                  <input type="number" name="port">
                </div>
   
      
            
          </div>
          <center>
            <button type="submit" class="btn-submit">Submit</button>
          </center>  

        </form>
      </section>

</div>
<!-- partial -->
</main>
<%- include('./includes/footer') %>

</body>
</html>
