
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="css/style-d.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
</head>
<body>
  <% if (typeof successMessage !== 'undefined') { %>
    <div class="modal">
        <div class="modal-content">
            <h3><%= successMessage %></h3>
            <p><%= value %></p>
            <a href="settings" class="close">&times;</a>
        </div>
    </div>
    <% } %>
    

  <%- include('./includes/sidebar') %>

<div class="main-content">

  <%- include('./includes/header') %>

  <main>
    <section><form action="/changepass">
        <div class="settings-container">
            <h2>Account Settings</h2>
            <div class="settings-form">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password" placeholder="Enter current password">

                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" placeholder="Enter new password">

                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password">

                <button class="btn-submit">Change Password</button>
            </div>
</form>

    </section>
    <section>
        <div class="settings-buttons">
            <button class="btn-reset-password" onclick="window.location.href = '/resetptero'">Reset Pterodactyl Password</button>
            <button class="btn-contact-support">Contact Support</button>
        </div>
    </div>
    </section>
</main>

<%- include('./includes/footer') %>

</body>
</html>
