<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="assets/css/style-d.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/062f52da9a.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./includes/sidebar') %>

  <div class="main-content">
    <%- include('./includes/header') %>

    <main>
        <section>
          <div class="cards-container">
            <!-- Buy Extra Server -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra Server</div>
              <div class="card-subtitle">Enter a Value</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="servers">
                  <option value="0">Select</option>
                  <option value="1"><%= settings.store.servers.per * 1 %> Server - <%= settings.store.servers.cost * 2 %> coins</option>
                  <option value="2"><%= settings.store.servers.per * 2 %> Server - <%= settings.store.servers.cost * 3 %> coins</option>
                  <option value="3"><%= settings.store.servers.per * 3 %> Server - <%= settings.store.servers.cost * 4 %> coins</option>
                  <option value="4"><%= settings.store.servers.per * 4 %> Server - <%= settings.store.servers.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>
      
            <!-- Buy Extra CPU -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra CPU</div>
              <div class="card-subtitle">Select CPU package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="cpu">
                  <option value="0">Select CPU</option>
                  <option value="1"><%= settings.store.cpu.per %>% CPU - <%= settings.store.cpu.cost %> coins</option>
                  <option value="2"><%= settings.store.cpu.per * 2 %>% CPU - <%= settings.store.cpu.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.cpu.per * 3 %>% CPU - <%= settings.store.cpu.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.cpu.per * 4 %>% CPU - <%= settings.store.cpu.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.cpu.per * 5 %>% CPU - <%= settings.store.cpu.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>
      
            <!-- Buy Extra RAM -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra RAM</div>
              <div class="card-subtitle">Select RAM package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="ram">
                  <option value="0">Select RAM</option>
                  <option value="1"><%= settings.store.ram.per %>MB RAM - <%= settings.store.ram.cost %> coins</option>
                  <option value="2"><%= settings.store.ram.per * 2 %>MB RAM - <%= settings.store.ram.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.ram.per * 3 %>MB RAM - <%= settings.store.ram.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.ram.per * 4 %>MB RAM - <%= settings.store.ram.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.ram.per * 5 %>MB RAM - <%= settings.store.ram.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>
      
            <!-- Buy Extra Disk -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra Disk</div>
              <div class="card-subtitle">Select Disk package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="disk">
                  <option value="0">Select Disk</option>
                  <option value="1"><%= settings.store.disk.per %>MB Disk - <%= settings.store.disk.cost %> coins</option>
                  <option value="2"><%= settings.store.disk.per * 2 %>MB Disk - <%= settings.store.disk.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.disk.per * 3 %>MB Disk - <%= settings.store.disk.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.disk.per * 4 %>MB Disk - <%= settings.store.disk.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.disk.per * 5 %>MB Disk - <%= settings.store.disk.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>
      
            <!-- Buy Extra Port -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra Port</div>
              <div class="card-subtitle">Select Port package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="ports">
                  <option value="0">Select Port</option>
                  <option value="1"><%= settings.store.ports.per %> Port - <%= settings.store.ports.cost %> coins</option>
                  <option value="2"><%= settings.store.ports.per * 2 %> Port - <%= settings.store.ports.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.ports.per * 3 %> Port - <%= settings.store.ports.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.ports.per * 4 %> Port - <%= settings.store.ports.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.ports.per * 5 %> Port - <%= settings.store.ports.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>

            
            <!-- Buy Extra Database -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra Database</div>
              <div class="card-subtitle">Select Port package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="database">
                  <option value="0">Select Database</option>
                  <option value="1"><%= settings.store.database.per %> Database - <%= settings.store.database.cost %> coins</option>
                  <option value="2"><%= settings.store.database.per * 2 %> Database - <%= settings.store.database.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.database.per * 3 %> Database - <%= settings.store.database.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.database.per * 4 %> Database - <%= settings.store.database.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.database.per * 5 %> Database - <%= settings.store.database.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>


            
            <!-- Buy Extra Backuo -->
            <form action="/byresources" method="POST" class="card">
              <div class="card-img">
                <div class="img"></div>
              </div>
              <div class="card-title">Buy Extra Backups</div>
              <div class="card-subtitle">Select Port package to buy</div>
              <hr class="card-divider">
              <div class="card-body">
                <select class="store-dropdown" name="backup">
                  <option value="0">Select Backup</option>
                  <option value="1"><%= settings.store.backup.per %> backup - <%= settings.store.backup.cost %> coins</option>
                  <option value="2"><%= settings.store.backup.per * 2 %> backup - <%= settings.store.backup.cost * 2 %> coins</option>
                  <option value="3"><%= settings.store.backup.per * 3 %> backup - <%= settings.store.backup.cost * 3 %> coins</option>
                  <option value="4"><%= settings.store.backup.per * 4 %> backup - <%= settings.store.backup.cost * 4 %> coins</option>
                  <option value="5"><%= settings.store.backup.per * 5 %> backup - <%= settings.store.backup.cost * 5 %> coins</option>
                </select>
              </div>
              <button type="submit" class="btn-submit">Submit</button>
            </form>
          </div>
        </section>
      </main>
      

    <%- include('./includes/footer') %>
  </div>
</body>
</html>
